body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#splash {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#ffe6e6;
  z-index:1000;
}

.splash-heart {
  width: 200px;
}

.home-buttons button,
.timeline-years button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
}
#slideshow-modal {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background-color: rgba(0,0,0,0.9);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  z-index: 2000;
}

#slideshow-modal img {
  max-width: 90%;
  max-height: 70%;
}

#slideshow-modal p {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

#prev-slide, #next-slide {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background:none;
  color:white;
  font-size:50px;
  border:none;
  cursor:pointer;
  user-select:none;
}

#prev-slide { left: 20px; }
#next-slide { right: 20px; }

#close-slideshow {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor:pointer;
}
