body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#splash {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#ffe6e6;
  z-index:1000;
}

.splash-heart {
  width: 200px;
}

.home-buttons button,
.timeline-years button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
}
